@charset "utf-8";

/* ----------------------------------------------------------------
 font Styling
 -----------------------------------------------------------------*/
html {
	overflow-x: hidden;
}
body {
	font-family: Helvetica, sans-serif, Tahoma, Arial, Malgun Gothic, '맑은고딕', Dotum, '돋움';
	font-size: 14px;
	line-height: 1.267em;
	letter-spacing: -0.55px;
	overflow-x: hidden;
	color: #2e2e2e;
	background: #fff;
}
/* ----------------------------------------------------------------
 General Styling
 -----------------------------------------------------------------*/
.centerThis {
	padding: 0 15px;
	position: relative;
	min-width: 290px;
}
.header_main_fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
}
#header {
	height: 48px;
	position: relative;
	background: #fff;
}
#header h1 {
	text-align: center;
	display: block;
	margin: 0 auto;
	height: 48px;
}
#header h1 img {
	max-width: 110px;
	position: relative;
	top: 15px;
}
/* ----------------------------------------------------------------
 header .util
 -----------------------------------------------------------------*/

#header i {
	color: #2e2e2e;
	font-size: 26px;
	position: relative;
	top: 10px;
}

#ltnav_btn span, #header_back span, #header_close span {
	text-align: center;
	width: 48px;
	height: 48px;
	position: relative;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 0px;
}
#ltnav_btn span, #header_back span {
	left: 0px;
}
#header_close span {
	right: 0;
}
.header_text {
	position: absolute;
	right: 0px;
	top: 0;
	padding: 0 15px;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	font-size: 16px;
	text-align: right;
	min-width: 48px;
}
.header_text span {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.header_text .cgray {
	color: #e5e7e8 !important;
}
.header_text .cblue {
	color: #fff !important;
}
.headerTabFixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	border-bottom: 1px solid #c8c8c8;
}

/* ----------------------------------------------------------------
 footer
 -----------------------------------------------------------------*/
#footer2 {
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	padding: 30px;
	padding-bottom: 15px;
	color: #8e8e8e;
	width: 100%;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
}
#footer {
	text-align: center;
	background: #1c2c42;
	color: #c8c8c8;
	padding: 15px 0;
}
#footer a {
	color: #c8c8c8;
}
#footer .top span:after, #footer .bot span:after {
	content: "|";
	font-size: 12px;
	position: relative;
	color: rgba(255,255,255,0.1);
	padding: 0 10px;
}
#footer .bot {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 10px;
	border-top: 1px solid rgba(255,255,255,0.1);
}
#footer .bot span:after {
	padding: 0 5px;
}
#footer .top span:last-child:after, #footer .bot span:last-child:after {
	content: "";
	padding: 0px;
}
#footer .bot {
	font-size: 11px;
}
/* ----------------------------------------------------------------
 lnb Styling
 -----------------------------------------------------------------*/
#content_wrap {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}
#content {
	min-width: 320px;
	height: 100%;
}
#content #table-fixed {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
#ltnav {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99999;
	display: none;
}
.ltnav_inner {
	width: 239px;
	vertical-align: top;
	height: 100%;
	background: #101e32;
	overflow-x: hidden !important;
	overflow-y: auto;
	-webkit-box-shadow: 3px 0px 15px -3px rgba(0,0,0,0.6);
	-moz-box-shadow: 3px 0px 15px -3px rgba(0,0,0,0.6);
	box-shadow: 3px 0px 15px -3px rgba(0,0,0,0.6);
	font-size: 15px;
	color: #fff;
}
#ltnav_mask {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 991;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#ltnav_title {
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	text-align: center;
	position: relative;
	padding: 20px 0;
}
#lnav_close1 {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
}
#lnav_close1 i {
	position: relative;
	top: 10px;
}
#lnav_close2 {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
}
#lnav_close2 i {
	position: relative;
	top: 10px;
}
.ltnav_text {
	margin-top: 30px;
	padding: 0 8px;
}
.ltnav_text h3 {
	text-align: center;
	padding: 5px;
	background: rgba(255,255,255,0.1);
	border-radius: 50em;
	font-size: 13px;
	color: #e8e8e8;
}
.ltnav_text strong {
	color: #fff;
}
.ltnav_text h3 em {
	display: inline-block;
	border-radius: 50em;
	width: 15px;
	height: 15px;
	line-height: 15px;
	background: #0073d3;
	margin-right: 6px;
}
.ltnav_text h3 em i {
	color: #fff;
}
/* main menu */
#cssmenu i {
	margin-right: 6px;
	text-align: center;
	position: relative;
	font-size: 17px;
}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}
#cssmenu {
	width: 239px;
}
#cssmenu > ul > li:last-child {
	margin: 0;
}
/* title  */

#cssmenu > ul > li > div {
	display: block;
	padding: 0px 15px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
#cssmenu .has-sub .tt {
	position: relative;
	cursor: pointer;
}
#cssmenu .has-sub .tt:after {
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '\f107';
	font-size: 19px;
}
#cssmenu .has-sub.active .tt {
	color: #fff;
	background: #0073d3;
}
#cssmenu .has-sub.active .tt:after {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '\f106';
	font-size: 19px;
	color: #fff;
}
/* Sub menu */
#cssmenu .has-sub ul {
	display: none;
	background: #1c2c42;
	padding: 10px 8px 10px 15px;
}
#cssmenu ul ul li {
	line-height: 22px;
	color: #f4f4f4;
}
#cssmenu ul ul {
	display: block;
	color: #6e6e6e;
}
#cssmenu .has-sub > ul > li {
	padding: 8px 0px;
}
#cssmenu .has-sub  li:first-child {
	border-top: 0;
}
#cssmenu ul ul li:hover {
	color: #0093d9;
	text-decoration: none;
	cursor: pointer;
}

