@charset "utf-8";

/* ----------------------------------------------------------------
 Reset
 -----------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}
a {
	outline: none !important;
}
body, html {
	height: 100%;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
	padding: 0;
	margin: 0;
}
/*요소 여백 초기화 */
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td {
	margin: 0;
	padding: 0;
}
/*테투리 없애기*/
fieldset, img, abbr, acronym {
	border: 0 none;
}
/*목록*/
ol, ul, li {
	list-style: none;
}
/*테이블 -마크업에 'cellspacion="0" 지정 함께 필요 */
table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	border: 0px;
}
caption, th, td {
	font-weight: normal;
}
/*텍스트 관련 요소 초기화*/
address, caption, strong, em, cite {
	font-weight: normal;
	font-style: normal;
}
small {
	font-weight: normal;
}
.ins {
	text-decoration: none;
}
.nor {
	font-weight: normal;
}
.del {
	text-decoration: line-through;
}
.und {
	text-decoration: underline;
}
.not_scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.not_scroll #table-fixed {
	position: relative;
	top: 0;
}
.block {
	display: block;
	width: 100%;
	height: 100%;
}
/*인용문*/
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
/*수평선*/
hr {
	display: none;
}
legend, caption {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}
a {
	text-decoration: none;
	color: #222;
	outline: none !important;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
input, select, textarea, button, textarea {
	font-family: Helvetica, sans-serif, Tahoma, Arial, Malgun Gothic, '맑은고딕', Dotum, '돋움';
}
input::placeholder, textarea::placeholder {
	color: #8e8e8e;
	font-weight: normal;
}
input[type="file"] {
	display: none;
	cursor: pointer;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="time"], input[type="date"], input[type="tel"], textarea, button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding: 0 15px;
}
input[type="text"] {
	ime-mode: active;
}
select {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 8px;
	-webkit-appearance: listbox;
}
select::-ms-expand {
	display: none;
}
.selectWrap {
	position: relative;
}
.selectWrap:after {
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 8px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '\f107';
	font-size: 19px;
	color: #a6a6a6;
	/*pointer-events: none;*/
}
.selectBox {
	background: #ffffff;
	border: 1px solid #d7d9dc !important;
	font-size: 14px;
	width: 100%;
	position: relative;
	height: 41px;
	border-radius: 0px;
}
/* The labelBox */

/* Custom labels: the container */
.labelBox {
	display: block;
	position: relative;
	padding-left: 33px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
	line-height: 23px;
	text-align: left;
	border-radius: 0px;
}

/* Hide the browser's default checkbox */
.labelBox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	background-color: #eee;
	border: 1px solid #c8c8c8;
}

/* On mouse-over, add a grey background color */
.labelBox:hover input ~
.checkmark {
	background-color: #c8c8c8;
}

/* When the checkbox is checked, add a blue background */
.labelBox input:checked ~
.checkmark {
	background-color: #0073d3;
	border: 1px solid #0073d3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.labelBox input:checked ~
.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.labelBox .checkmark:after {
	left: 6px;
	top: 0px;
	width: 7px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Create a custom radio button */
.radiobtn {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	background-color: #eee;
	border-radius: 50%;
	border: 1px solid #c8c8c8;
}

/* On mouse-over, add a grey background color */
.labelBox:hover input ~
.radiobtn {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelBox input:checked ~
.radiobtn {
	background-color: #0073d3;
	border: 1px solid #0073d3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelBox input:checked ~
.radiobtn:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.labelBox .radiobtn:after {
	top: 7px;
	left: 7px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 27px;
	margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.check_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.check_slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .check_slider {
	background-color: #0073d3;
}

input:focus + .check_slider {
	box-shadow: 0 0 1px #0073d3;
}

input:checked + .check_slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.check_slider.round {
	border-radius: 50em;
}
.check_slider.round:before {
	border-radius: 50em;
}
/*---------------------------
 * inputBox
 -----------------------------*/
.int, .intBox {
	background: #fff;
	border: 1px solid #d2d9e5;
	font-size: 14px;
	width: 100%;
	position: relative;
	height: 41px;
}
.int:disabled, .intBox:disabled {
	background: #e8e8e8;
}
.intBox {
	border: 1px solid #cacdd4 !important;
}
.intGroup {
	display: table;
	width: 100%;
}
.intGroup .int {
	display: table-cell;
}
.intGroup span {
	display: table-cell;
	width: 60px;
	text-align: center;
	vertical-align: top;
}
.intGroup span a {
	display: block;
	width: 100%;
	height: 100%;
	height: 41px;
	line-height: 41px;
}
.rd50 {
	border-radius: 50em;
	padding: 0 15px !important;
}
textarea {
	background: #ffffff;
	border: 1px solid #d7d9dc;
	font-size: 14px;
	width: 100%;
	position: relative;
	padding: 8px;
	line-height: 1.6em;
	box-sizing: border-box;
}

.images {
	display: inline-block;
	color: transparent;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/images.png) no-repeat;
	-webkit-background-size: 400px 250px;
	background-size: 400px 250px;
}
.images_after:after {
	content: '';
	display: block;
	color: transparent;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/images.png) no-repeat;
	-webkit-background-size: 400px 250px;
	background-size: 400px 250px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.images_before {
	display: inline-block;
}
.images_before:before {
	content: '';
	display: block;
	color: transparent;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/images.png) no-repeat;
	-webkit-background-size: 400px 250px;
	background-size: 400px 250px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	left: 0px;
	top: 50%;
}
.icon_key:before {
	width: 28px;
	height: 25px;
	background-position: -372px 0;
	z-index: 3;
	margin-left: 20px;
}
.joinFin {
	position: fixed;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0px;
	text-align: center;
	line-height: 1.5em;
}
.joinFin i {
	width: 60px;
	height: 60px;
	-webkit-background-size: 400px 250px;
	background-size: 400px 250px;
	background-position: -342px -88px;
}

.mem_tag {
	display: inline-block;
	width: auto !important;
	padding: 6px 18px;
	font-size: 14px !important;
	font-weight: normal;
	vertical-align: middle;
	border-radius: 50em;
	border: 1px solid #ccc;
	color: #6e6e6e;
	background: #fff;
	text-align: center;
}
.mem_tag .remove {
	cursor: pointer;
	margin-left: 10px;
}

/* ----------------------------------------------------------------
 tab
 -----------------------------------------------------------------*/
.fade.in {
	opacity: 1;
}

.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transform: opacity .15s linear;
	transition: opacity .15s linear;
}
.subTabContent > div{
	padding-top: 30px;
}
.subTabContent > .tab-pane {
	display: none;
}
.subTabContent > .active {
	display: block;
}

.subTab {
	text-align: center;
	background: #fff;
}
.subTab li {
	display: inline-block;
	float: left;
	height: 41px;
	line-height: 41px;
	background: #fff;
	color: #444b5e;
	border: 1px solid #d5d8db;
	border-right: 0;
	border-bottom: 2px solid #0073d3;
}
.subTab li:last-child {
	border-right: 1px solid #d5d8db;
}
.subTab li a {
	display: block;
	height: 100%;
	width: 100%;
	color: #8fa1b5;
	background: #f2f4f9;
}
.subTab li.active {
	position: relative;
	z-index: 2;
	background: #fff;
	border: 2px solid #0073d3;
	border-bottom: 0px;
}
.subTab li.active a {
	color: #0073d3;
	font-weight: 700;
	background: #fff;
}
.subTab.tab_3 li {
	width: 33.333%;
}
.subTab.tab_2 li {
	width: 50%;
}

/* ----------------------------------------------------------------
 Helper Classes
 -----------------------------------------------------------------*/
strong {
	font-weight: bold;
}
.fno {
	font-weight: normal;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.tbList th, .tbList td {
	text-align: left;
}
.td_tr td, .td_tr input[type="text"], .td_tr input[type="number"], .td_tr input[type="time"], .td_tr input[type="date"], .td_tr input[type="tel"] {
	text-align: right;
}
.tl {
	text-align: left !important;
}
.tr {
	text-align: right !important;
}
.tc {
	text-align: center !important;
}
.vm {
	vertical-align: middle !important;
}
.vt {
	vertical-align: top !important;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.hand {
	cursor: hand;
	cursor: pointer;
}
.mg10 {
	margin: 10px 0px;
}
.mgt0 {
	margin-top: 0px !important;
}
.mgt5 {
	margin-top: 5px !important;
}
.mgt10 {
	margin-top: 10px !important;
}
.mgt20 {
	margin-top: 20px !important;
}
.mgt30 {
	margin-top: 30px !important;
}
.mgt40 {
	margin-top: 40px !important;
}
.mgt60 {
	margin-top: 60px !important;
}
.mgb0 {
	margin-bottom: 0px !important;
}
.mgb5 {
	margin-bottom: 5px !important;
}
.mgb10 {
	margin-bottom: 10px !important;
}
.mgb20 {
	margin-bottom: 20px !important;
}
.mgl5 {
	margin-left: 5px !important;
}
.mgl10 {
	margin-left: 10px !important;
}
.mgl15 {
	margin-left: 15px !important;
}
.mgr5 {
	margin-right: 5px !important;
}
.mgr10 {
	margin-right: 10px !important;
}
.pt_none {
	padding-top: 0px !important;
}
.pb_none {
	padding-bottom: 0px !important;
}
/* ----------------------------------------------------------------
 font Classes
 -----------------------------------------------------------------*/
.bgWhite {
	background: #ffffff !important;
}
.cgray {
	color: #a6a6a6 !important;
}
.cdgray {
	color: #6e6e6e !important;
}
.cred {
	color: #e54040 !important;
}
.cpink {
	color: #e60137 !important;
}
.corg {
	color: #ff5722 !important;
}
.cyel {
	color: #ffcd04 !important;
}
.cgreen {
	color: #3db873 !important;
}
.cblue {
	color: #0073d3 !important;
}
.cnavy {
	color: #103760 !important;
}
.csky {
	color: #42b0c1 !important;
}
.sm_text {
	color: #9d9d9d;
	font-size: 11px;
}
.price {
	font-size: 20px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px !important;
	position: relative;
	top: 1px;
}
.f20 {
	font-size: 20px;
	position: relative;
	top: 3px;
}
.number {
	font-size: 1.3em;
	position: relative;
	top: 2px;
}
/* ----------------------------------------------------------------
 btn Styling
 -----------------------------------------------------------------*/
.btn_area {
	margin-top: 25px;
}
.btn_global {
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	display: inline-block;
	width: 100%;
	height: 48px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #cacdd4;
	background: #ffffff;
	white-space: nowrap;
}
.btn_small {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #cacdd4;
	background: #ffffff;
	white-space: nowrap;
	padding: 0 13px;
}
.btn_plus {
	min-width: auto !important;
	width: 70px !important;
}
.btn_plus strong {
	font-size: 17px;
	margin-right: 3px;
}
.btn_md {
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	display: inline-block;
	height: 38px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #cacdd4;
	background: #ffffff;
	white-space: nowrap;
	width: 100%;
}
.lblack {
	background: #fff !important;
	border-color: #2e2e2e !important;
	color: #2e2e2e !important;
}
.llgray {
	background: #f9f9f9 !important;
	border-color: #e2e6e9 !important;
	color: #a6a6a6 !important;
}
.lblue {
	background: #ffffff !important;
	color: #0073d3 !important;
	border-color: #0073d3 !important;
}
.lnavy {
	border-color: #103760 !important;
	color: #103760 !important;
	background: #fff !important;
}
.lgreen {
	background: #ffffff !important;
	color: #23af60 !important;
	border-color: #3db873 !important;
}
.lred {
	background: #ffffff !important;
	color: #ff3627 !important;
	border-color: #ff3627 !important;
}
.lorg {
	background: #ffffff !important;
	color: #ff5722 !important;
	border-color: #ff5722 !important;
}
.lwhite {
	background: none !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}
.bgray {
	background: #d7d9dc !important;
	border-color: #d7d9dc !important;
	color: #ffffff !important;
}
.bdgray {
	background: #d7d9dc !important;
	border-color: #cacdd4 !important;
	color: #8e8e8e !important;
}
.bblue {
	background: #0073d3 !important;
	border-color: #0073d3 !important;
	color: #ffffff !important;
}
.bsky {
	background: #62c8ce !important;
	border-color: #62c8ce !important;
	color: #ffffff !important;
}
.bnavy {
	border-color: #192a56 !important;
	background: #192a56 !important;
	color: #fff !important;
}
.bred {
	background: #ff3627 !important;
	border-color: #ff3627 !important;
	color: #ffffff !important;
}
.bblack {
	background: #4c576d !important;
	border-color: #4c576d !important;
	color: #ffffff !important;
}
.byellow {
	background: #ffb04c !important;
	border-color: #ffb04c !important;
	a
	color: #ffffff !important;
}
.bgreen {
	background: #04a569 !important;
	border-color: #04a569 !important;
	color: #ffffff !important;
}
.bpurple {
	background: #b991f8 !important;
	border-color: #b991f8 !important;
	color: #ffffff !important;
}
.borg {
	background: #ffb04c !important;
	border-color: #ffb04c !important;
	color: #ffffff !important;
}
.wSmall {
	width: 27% !important;
}
.wBig {
	width: 70% !important;
}
.wHalf {
	width: 48% !important;
}
.wAll {
	width: 100% !important;
}

/* ----------------------------------------------------------------
 font size
 -----------------------------------------------------------------*/

h2 {
	font-size: 21px;
}
h3 {
	font-size: 16px;
}
